* {
  font-family: "Roboto", sans-serif !important;
}

body[dir="rtl"] {
  text-align: right;
}

body[dir="ltr"] {
  text-align: left;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("assets/pizza.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
  height: 100vh;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
